<div class="max-w-md mx-auto p-4 mt-4">
  <a routerLink="/">
    <h1 class="jk-gradient-text text-center text-8xl mb-4">Jikan</h1>
  </a>
  <app-search-input></app-search-input>
</div>
<router-outlet></router-outlet>
<footer class="px-4 pb-10">
  <p class="text-primary text-center text-2xl font-extrabold mb-4">
    Made by
    <a href="https://github.com/eatteer" class="text-base-content">eatteer</a>
    thanks to
    <a href="https://docs.api.jikan.moe/" class="text-base-content">
      Jikan API
    </a>
  </p>
  <p class="text-center text-primary">
    "I've Finished My Musical Score Technique! We're Going For The Win!" -
    Tengen Uzui
  </p>
</footer>
