<app-appbar></app-appbar>
<div *ngIf="anime">
  <!-- TODO: Place anime image if embed video is not available -->
  <div class="w-full h-96">
    <iframe
      class="w-full h-full"
      [src]="anime.trailer.embed_url | fallbackEmbedUrl | safeUrl"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <!-- Page -->
  <div class="max-w-5xl mx-auto p-4 py-12">
    <!-- Anime detail -->
    <section>
      <app-anime-detail [anime]="anime"></app-anime-detail>
    </section>
    <!-- Reviews -->
    <section class="my-8">
      <h2 class="text-2xl font-bold mb-4">Reviews</h2>
      <app-collapsible *ngIf="reviews.length > 0; else noReviews">
        <div
          #content
          ngProjectAs="content"
          class="flex flex-col gap-8 max-h-96 overflow-y-hidden"
        >
          <app-review
            *ngFor="let review of reviews"
            [review]="review"
          ></app-review>
        </div>
      </app-collapsible>
      <ng-template #noReviews>
        <p>There are no reviews</p>
      </ng-template>
    </section>
    <!-- Recommendations -->
    <section>
      <h2 class="text-2xl font-bold mb-4">More like this</h2>
      <div
        *ngIf="recommendations.length > 0; else noRecommendations"
        class="flex items-start gap-4 overflow-x-scroll scrollbar-hide"
      >
        <div
          *ngFor="let recommendation of recommendations"
          class="w-40 flex-shrink-0"
        >
          <img
            class="jk-poster"
            [src]="recommendation.entry.images['jpg'].large_image_url"
            [alt]="recommendation.entry.title"
          />
          <p class="text-sm font-medium mt-2">
            {{ recommendation.entry.title }}
          </p>
        </div>
      </div>
      <ng-template #noRecommendations>
        <p>There are no recommendations</p>
      </ng-template>
    </section>
  </div>
</div>
