<app-appbar></app-appbar>
<!-- Anime trailer -->
<div *ngIf="!anime" class="w-full h-96 mb-12 bg-gray-300 animate-pulse"></div>
<div *ngIf="anime" class="w-full h-96 mb-12">
  <iframe
    class="w-full h-full"
    [src]="anime.trailer.embed_url | fallbackEmbedUrl | safeUrl"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<!-- Anime detail -->
<section *ngIf="{ anime } as vm" class="jk-container">
  <app-anime-detail [anime]="vm.anime"></app-anime-detail>
</section>
<!-- Reviews -->
<section class="jk-container my-8">
  <h2 class="text-2xl font-bold mb-4">Reviews</h2>
  <app-reviews *ngIf="{ reviews } as vm" [reviews]="vm.reviews"></app-reviews>
</section>
<!-- Recommendations -->
<section class="mb-12">
  <h2 class="jk-container text-2xl font-bold mb-2">More like this</h2>
  <app-recommendations
    *ngIf="{ recommendations } as vm"
    [recommendations]="vm.recommendations"
  ></app-recommendations>
</section>
<app-footer></app-footer>
