:host {
  --item-width: 176px;
  --items-number: 10;
  --slide-track-gap: 1rem;
  --animation-duration: 300s;

  /* Width/space of the slide track.
  It does not include the space that the gaps take. */
  --slide-track-raw-width: calc(var(--item-width) * var(--items-number) * 2);

  /* Width/space of the gaps */
  --slide-track-gap-raw-width: calc(
    var(--slide-track-gap) * (var(--items-number) * 2)
  );

  /* Slide track width plus gaps width. */
  --slide-track-width: calc(
    var(--slide-track-raw-width) + var(--slide-track-gap-raw-width)
  );
}

.slides-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1440px;
  margin: auto;
  padding: 3rem 0;
}

.slides-container::before,
.slides-container::after {
  z-index: 20;
  content: "";
  position: absolute;
  width: 6rem;
  height: 100%;
  pointer-events: none;
}

.slides-container::before {
  top: 0px;
  left: 0px;
  background: hsl(var(--b1));
  background: linear-gradient(
    90deg,
    hsl(var(--b1)) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slides-container::after {
  top: 0px;
  right: 0px;
  background: hsl(var(--b1));
  background: linear-gradient(
    270deg,
    hsl(var(--b1)) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slide {
  position: relative;
}

.slide:hover {
  z-index: 10;
}

.slide-track {
  display: inline-flex;
  gap: var(--slide-track-gap);
  width: var(--slide-track-width);
}

.slide-track:hover {
  animation-play-state: paused;
}

.item {
  display: flex;
  width: var(--item-width);
  aspect-ratio: 2/3;
}

.item ::ng-deep img {
  height: 100%;
  object-fit: cover;
  transition: transform 100ms ease-in-out;
}

.item:hover ::ng-deep img {
  transform: scale(1.08);
}

.animation-slide-left {
  animation: slide-left var(--animation-duration) linear infinite;
}

.animation-slide-right {
  animation: slide-right var(--animation-duration) linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc((var(--slide-track-width) / 2) * -1));
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(calc((var(--slide-track-width) / 2) * -1));
  }

  100% {
    transform: translateX(0);
  }
}
