<div class="flex gap-8 items-start">
  <!-- Poster -->
  <img
    class="w-60 aspect-[2/3] object-cover rounded hidden md:flex"
    [src]="anime.images['jpg'].large_image_url | fallbackImgUrl"
    [alt]="anime.title"
  />
  <!-- Details -->
  <div>
    <h1 class="text-3xl font-bold mb-4">{{ anime.title }}</h1>
    <div class="font-medium mb-4">
      <p>{{ anime.type }}</p>
      <p>{{ anime.status }}</p>
      <p>{{ anime.episodes }} episodes</p>
      <p class="mt-4 text-justify font-normal">{{ anime.synopsis }}</p>
    </div>
    <div class="flex gap-2">
      <div *ngFor="let genre of anime.genres">
        <span class="badge badge-lg badge-neutral font-medium">
          {{ genre.name }}
        </span>
      </div>
    </div>
  </div>
</div>
